<span>
    <span class="list_metrics_citations"><span class="bold-list lowercase">{{citations_count}}</span>{{citations_label}}</span>
    <span class="list_metrics_tweets"><span class="bold-list lowercase">{{tweets_count}}</span>{{tweets_label}}</span>
    <span class="list_metrics_readers"><span class="bold-list lowercase">{{readers_count}}</span>{{readers_label}}</span>
</span>
