<span>
    <span class="viper_metrics_tweets">{{tweets_label}}{{tweets_count}}</span>
    <span class="viper_metrics_readers">{{readers_label}}{{readers_count}}</span>
    <span class="viper_metrics_citations">{{citations_label}}{{citations_count}}</span>
</span>
