<span>
    <span class="viper_metrics_citations"><span class="bold-list">{{citations_count}}</span>{{citations_label}}</span>
    <span class="viper_metrics_tweets"><span class="bold-list">{{tweets_count}}</span>{{tweets_label}}</span>
    <span class="viper_metrics_readers"><span class="bold-list">{{readers_count}}</span>{{readers_label}}</span>
</span>
