<div style="font-family: Lato; font-size:10px;"><div class='year'>{{ year }}</div>
<div class='key' style="text-transform: none; font-size:14px; margin-bottom: 5px;">
    <span style='background:{{ color }}; border-radius: 4px; width:15px; height: 10px;' class='swatch'>&nbsp;</span>
    {{ keyword }}
</div>
<div class='value'> Dokumente: {{ current_year }} </div>
<div class='value'> Gesamt: {{ all_years }} </div></div>
