<div class='year'>{{ year }}</div>
<div class='key'>
    <span style='background:{{ color }}' class='swatch'>&nbsp;</span>
    {{ keyword }}
</div>
<div class='value'> Dokumente: {{ current_year }} </div>
<div class='value'> Gesamt: {{ all_years }} </div>
